@import "./general/base.scss";
@import "./general/mixin.scss";

.nav {
    &_top {
        padding: var(--md-p);

        &_body {
            @include Dflex(space-between);

            .socials {
                display: flex;
                gap: var(--sm-p);

                &_item {
                    width: 32px;
                    height: 32px;
                }
            }

            .contacts {
                display: flex;
                gap: var(--md-p);

                &_item {
                    a {
                        display: flex;
                        align-items: center;
                        gap: var(--sm-p);

                        span {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }

    &_btm {
        padding: var(--md-p);
        background-color: var(--background-color-secondary);

        &_body {
            .brand {
                font-size: 1.5em;
                display: flex;
            }

            .links {
                display: flex;
                gap: var(--md-p);
            }
        }
    }

    @media only screen and (max-width: 600px) {
        & {
            &_top {
                &_body {
                    .contacts {
                        &_item {
                            a {
                                u {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            &_btm {
                &_body {
                    display: flex;
                    flex-direction: column;
                    gap: var(--md-p);

                    .brand {
                        justify-content: center;
                    }

                    .links {
                        justify-content: center;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 600px) {
        & {
            &_btm {
                &_body {
                    @include Dflex(space-between);
                }
            }
        }
    }
}

.hero {
    &_container {
        display: flex;
        padding: var(--md-p);
        gap: var(--md-p);

        img {
            border-radius: var(--border-radius-light);
        }

        .hero_l_card {
            flex: 1;
            border-radius: var(--border-radius-light);
            position: relative;
        }

        .hero_sm_card {
            width: 100%;

            .flex {
                border-radius: var(--border-radius-light);
                position: relative;
                width: 100%;
                height: 100%;
            }
        }

        .blog_desc {
            width: 100%;
            padding: var(--md-p);
            position: absolute;
            bottom: 0;
            border-radius: 0 0 var(--border-radius-light) var(--border-radius-light);
            background-color: rgba(0, 0, 0, 0.5);

        }

        @media only screen and (max-width: 992px) {
            & {
                flex-direction: column;
            }

            h1 {
                font-size: var(--font-size-large);
            }

            h2 {
                font-size: 18px;
            }

            .hero_l_card {
                aspect-ratio: 16/9;
                height: 350px;
            }

            .hero_sm_card {
                display: flex;
                flex-direction: column;
                gap: var(--md-p);

                .flex {
                    width: 100%;
                    aspect-ratio: 16 / 9;
                }
            }

        }

        @media only screen and (min-width: 992px) {
            & {
                height: 450px;
            }

            h2 {
                font-size: 20px;
            }

            .hero_sm_card {
                max-width: 350px;
                display: flex;
                flex-direction: column;
                gap: var(--md-p);

                .flex {
                    max-height: 200px;
                }

            }
        }
    }
}

.blog {
    min-height: 100vh;
    padding: var(--md-p);

    img {
        border-radius: var(--border-radius-light);
    }

    &_header {
        .blog_title {
            font-size: var(--font-size-2xlarge);
        }

        .blog_categories {
            width: calc(100% - 20px);
            overflow-x: auto;
            @include hideScroll();
            margin: var(--md-p) 0;
            display: flex;
            gap: var(--sm-p);

            button {
                border: 1px solid var(--border-color);
            }
        }
    }

    &_container {

        .items {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: var(--md-p);

            .item {
                max-width: 350px;

                .card {

                    &_header {
                        aspect-ratio: 16/9;
                        @include bckimgCenter;
                        // background-color: #435345;
                        position: relative;

                        .category {
                            @include position(absolute, $top: var(--sm-p), $left: var(--sm-p));
                            font-size: 12px;
                            padding: var(--sm-p);
                            border: 1px solid var(--border-color);
                            border-radius: var(--border-radius-light);
                            background-color: var(--low-opacity);
                        }

                        .brand {
                            @include position(absolute, $top: 0, $left: 0);
                            width: 100%;
                            height: 100%;
                            @include Dflex(center);
                            background-color: var(--low-opacity);
                            border-radius: var(--border-radius-light) var(--border-radius-light) 0 0;

                            b {
                                letter-spacing: 5px;
                                font-size: 32px;
                                opacity: 0.5;
                            }
                        }
                    }

                    &_body {
                        .time {
                            margin: var(--sm-p) 0;
                            font-size: 12px;
                            opacity: 0.7;
                        }
                    }

                    &_footer {
                        .card_title {
                            @include clampText(3);
                            line-height: 1.25;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {}

    @media only screen and (min-width: 768px) {}
}

.ads {
    padding: var(--md-p);

    &_body {
        height: 120px;
        border: 1px solid red;
    }
}